__pycache__/
*.pyc
*.pyo
*.pyd
*.egg-info/
dist/
build/
.eggs/
.idea/
.vscode/
.pytest_cache/
extract.yaml
logs/
report/
conf/config.ini
data/login_data.csv
*.xls
*.xlsx
*.xmind
~$*.xlsx
~$*.xls
captcha.jpg
captcha_thresh.jpg
*.swagger.json
.venv/
venv/
environment.xml/
.allure/
/*.png
/*.txt
/*.json
/*.pdf
extracted_images/
