allure-pytest
allure_python_commons
clickhouse_sqlalchemy
ddddocr
jsonpath
numpy<=1.26.4
onnxruntime==1.20.0
pandas
paramiko
Pillow
pymongo
PyMySQL
pytest
pytest-ordering
PyYAML
redis
requests
SQLAlchemy
urllib3
